In [1]:
# Import pandas
import pandas as pd

In [2]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt',delim_whitespace = True)

Write the code needed to produce a report that provides the following information:
Compare the average income based on ethnicity.

In [3]:
# Compare average income based on ethnicity
average_income_by_ethnicity = df.groupby('Ethnicity')['Income'].mean()
print("Average Income by Ethnicity:")
print(average_income_by_ethnicity)

Average Income by Ethnicity:
Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

On average, do married or single people have a higher balance?

In [4]:
print(df.groupby('Married')['Balance'].mean())

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

What is the highest income in our dataset?

In [5]:
print("The highest Income in the dataset:",df.loc[:,'Income'].max())

The highest Income in the dataset: 186.634

What is the lowest income in our dataset?

In [6]:
print("The lowest Income in the dataset:",df.loc[:,'Income'].min())

The lowest Income in the dataset: 10.354

How many cards do we have recorded in our dataset? (Hint: use sum())

In [7]:
print("The total number of cards recorded  in the dataset:",df.loc[:,'Cards'].sum())

The total number of cards recorded  in the dataset: 1183

How many females do we have information for vs how many males? (Hint: use count()For a list of all methods for computation of descriptive stats, explore the pandas documentation).

In [8]:
# Count the number of females and males in the dataset
female_count = df[df['Gender'] == 'Female'].count()['Gender']
male_count = df[df['Gender'] == 'Male'].count()['Gender']
print("\nNumber of Females and Males:")
print("Females:", female_count)
print("Males:", male_count)

Number of Females and Males:
Females: 207
Males: 193